{
  "swagger": "2.0",
  "info": {
    "title": "easydo",
    "description": "Send documents for signature and read results via easydo.\nשליחת מסמכים לחתימה וקבלת תוצאות דרך easydo.",
    "version": "1.0.0",
    "contact": {
      "name": "D365 easydo"
    }
  },
  "host": "api.easydo.co.il",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key",
      "description": "easydo API token. Enter only the token (the connector adds the 'Bearer ' prefix automatically)."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/entity/me": {
      "get": {
        "operationId": "GetEntity",
        "summary": "Get entity (test connection) | אחזור ישות (בדיקת חיבור)",
        "description": "Returns the authenticated easydo entity. Used to validate the connection. | מחזיר את הישות (החברה) המאומתת ב-easydo. משמש לבדיקת תקינות החיבור.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/profiles": {
      "get": {
        "operationId": "GetProfiles",
        "summary": "Get profiles / contacts | אחזור פרופילים / אנשי קשר",
        "description": "List easydo profiles/contacts for the entity. Returns a DataTables envelope; read the data array. | מחזיר רשימת פרופילים / אנשי קשר ב-easydo. התוצאה במבנה DataTables — קרא את מערך data.",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/templates": {
      "get": {
        "operationId": "GetTemplates",
        "summary": "Get templates from easydo | אחזור תבניות מ-easydo",
        "description": "List signature templates. Returns a DataTables envelope; read the data array. | מחזיר את רשימת תבניות החתימה. התוצאה במבנה DataTables — קרא את מערך data.",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/templates/{templateId}": {
      "get": {
        "operationId": "GetTemplate",
        "summary": "Get template detail, fields and roles | אחזור פרטי תבנית, שדות ובעלי תפקידים",
        "description": "Get one template including its fields (data_headers) and its signer roles (payload.roles). Each field exposes a business header, technical name and type. Each role exposes its name (e.g. 'עובד', 'קצין רכב') and signing sequence, so you can map a recipient to each role by its sequence. | מחזיר תבנית אחת כולל השדות שלה (data_headers) ובעלי התפקידים שלה (payload.roles). כל שדה חושף כותרת עסקית, שם טכני וסוג. כל תפקיד חושף את שמו (למשל 'עובד', 'קצין רכב') ואת סדר החתימה, כך שתוכל למפות נמען לכל תפקיד לפי ה-sequence.",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית | Template",
            "description": "The easydo template. Pick from the list, or supply a template id dynamically. | תבנית ה-easydo. בחר מהרשימה, או ספק מזהה תבנית דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "מזהה | ID",
                  "description": "The template id. | מזהה התבנית."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם | Name",
                  "description": "The template name. | שם התבנית."
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "סטטוס | Status",
                  "description": "The template status. | סטטוס התבנית."
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "סוג | Type",
                  "description": "The template type. | סוג התבנית."
                },
                "data_headers": {
                  "type": "array",
                  "x-ms-summary": "שדות | Fields",
                  "description": "The template fields. Loop over this to read every field's business header, technical name and type. | שדות התבנית. עברו על המערך כדי לקרוא לכל שדה את הכותרת העסקית, השם הטכני והסוג.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "header": {
                        "type": "string",
                        "x-ms-summary": "כותרת | Header",
                        "description": "The business-facing field label. | הכותרת העסקית של השדה."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם טכני | Name",
                        "description": "The technical field name used when pre-filling. | השם הטכני של השדה לשימוש במילוי מקדים."
                      },
                      "type": {
                        "type": "string",
                        "x-ms-summary": "סוג | Type",
                        "description": "The field type (e.g. FreeText, input-text, input-signature, input-checkbox, input-date, input-options). | סוג השדה (למשל FreeText, input-text, input-signature, input-checkbox, input-date, input-options)."
                      },
                      "sort": {
                        "type": "integer",
                        "x-ms-summary": "סדר | Sort",
                        "description": "The field display order. | סדר הצגת השדה."
                      }
                    }
                  }
                },
                "payload": {
                  "type": "object",
                  "x-ms-summary": "מטען | Payload",
                  "description": "The template payload, including its signer roles. | מטען התבנית, כולל בעלי התפקידים.",
                  "properties": {
                    "roles": {
                      "type": "object",
                      "x-ms-summary": "בעלי תפקידים | Roles",
                      "description": "The signer roles defined on the template, keyed by signing order (1, 2, 3...). Map a recipient to each role using its sequence. | בעלי התפקידים המוגדרים בתבנית, ממופתחים לפי סדר החתימה (1, 2, 3...). מפו נמען לכל תפקיד לפי ה-sequence.",
                      "properties": {
                        "1": {
                          "type": "object",
                          "x-ms-summary": "תפקיד 1 | Role 1",
                          "description": "The first signer role. | התפקיד הראשון.",
                          "properties": {
                            "placeholder": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "שם תפקיד 1 | Role 1 name",
                                  "description": "The role display name (e.g. 'עובד'). | שם התפקיד לתצוגה (למשל 'עובד')."
                                }
                              }
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר 1 | Sequence 1",
                              "description": "The signing order of this role. | סדר החתימה של תפקיד זה."
                            },
                            "recipient": {
                              "type": "boolean",
                              "x-ms-summary": "חותם 1 | Signer 1",
                              "description": "True if this role is the main signer. | True אם זהו החותם הראשי."
                            }
                          }
                        },
                        "2": {
                          "type": "object",
                          "x-ms-summary": "תפקיד 2 | Role 2",
                          "description": "The second signer role. | התפקיד השני.",
                          "properties": {
                            "placeholder": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "שם תפקיד 2 | Role 2 name",
                                  "description": "The role display name (e.g. 'קצין רכב'). | שם התפקיד לתצוגה (למשל 'קצין רכב')."
                                }
                              }
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר 2 | Sequence 2",
                              "description": "The signing order of this role. | סדר החתימה של תפקיד זה."
                            },
                            "recipient": {
                              "type": "boolean",
                              "x-ms-summary": "חותם 2 | Signer 2",
                              "description": "True if this role is the main signer. | True אם זהו החותם הראשי."
                            }
                          }
                        },
                        "3": {
                          "type": "object",
                          "x-ms-summary": "תפקיד 3 | Role 3",
                          "description": "The third signer role. | התפקיד השלישי.",
                          "properties": {
                            "placeholder": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "שם תפקיד 3 | Role 3 name",
                                  "description": "The role display name. | שם התפקיד לתצוגה."
                                }
                              }
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר 3 | Sequence 3",
                              "description": "The signing order of this role. | סדר החתימה של תפקיד זה."
                            },
                            "recipient": {
                              "type": "boolean",
                              "x-ms-summary": "חותם 3 | Signer 3",
                              "description": "True if this role is the main signer. | True אם זהו החותם הראשי."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entity/me/templates/{templateId}/send": {
      "post": {
        "operationId": "SendTemplate",
        "summary": "Send template for signature | שליחת תבנית לחתימה",
        "description": "Create and send a signature form from an existing template. The template's PDF, fields and settings are applied automatically; only the recipients (assignees) must be supplied. The form is sent immediately (status becomes 'waiting'). Each assignee receives a fill_url in the response. | יוצר ושולח טופס חתימה מתוך תבנית קיימת. ה-PDF, השדות וההגדרות מוחלים אוטומטית מהתבנית — צריך לספק רק את הנמענים. הטופס נשלח מיד וכל נמען מקבל קישור מילוי (fill_url).",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית | Template",
            "description": "The easydo template to send. Pick from the list, or supply a template id dynamically. | תבנית ה-easydo לשליחה. בחר מהרשימה, או ספק מזהה תבנית דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם טופס | Form name",
                  "description": "Optional form name. Defaults to the template name. | שם הטופס (אופציונלי). ברירת המחדל היא שם התבנית."
                },
                "assignees": {
                  "type": "array",
                  "x-ms-summary": "נמענים | Recipients",
                  "description": "Recipients who must fill/sign. Use profile.id for an existing easydo profile, or email + name for a temporary recipient. Only one assignee may have recipient set to true. | הנמענים שצריכים למלא/לחתום. השתמש ב-profile.id לפרופיל קיים, או ב-email + name לנמען זמני. רק נמען אחד יכול להיות recipient=true.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "profile": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "x-ms-summary": "פרופיל | Profile",
                            "description": "Existing easydo profile. Pick a recipient from the list. | פרופיל קיים ב-easydo. בחר נמען מהרשימה.",
                            "x-ms-dynamic-values": {
                              "operationId": "GetProfiles",
                              "parameters": {
                                "length": 100
                              },
                              "value-collection": "data",
                              "value-path": "id",
                              "value-title": "full_name"
                            }
                          }
                        }
                      },
                      "email": {
                        "type": "string",
                        "x-ms-summary": "דוא\"ל | Email",
                        "description": "Recipient email (for a temporary recipient). | דוא\"ל הנמען (לנמען זמני)."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם נמען | Name",
                        "description": "Recipient display name. | שם הנמען לתצוגה."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר חתימה | Order",
                        "description": "Signing order (1 = first). | סדר החתימה (1 = ראשון)."
                      },
                      "notify_platform": {
                        "type": "string",
                        "x-ms-summary": "ערוץ | Notify",
                        "description": "How to notify the recipient. Pick a channel from the list. | אופן ההתראה לנמען. בחר ערוץ מהרשימה.",
                        "default": "any",
                        "enum": [
                          "any",
                          "email",
                          "sms"
                        ],
                        "x-ms-enum-display-name": [
                          "כל הערוצים | Any",
                          "דוא\"ל | Email",
                          "SMS"
                        ]
                      },
                      "recipient": {
                        "type": "boolean",
                        "x-ms-summary": "חותם | Signer",
                        "description": "True for the main signer. Only one recipient may be true. | True עבור החותם הראשי. רק נמען אחד יכול להיות true."
                      }
                    }
                  }
                },
                "meta_data": {
                  "type": "object",
                  "x-ms-summary": "מטא-דאטה | Metadata",
                  "description": "Optional metadata. Use meta_data.client to store custom key/values (e.g. the Dynamics 365 record id and table) for correlation. | מטא-דאטה אופציונלית. השתמש ב-meta_data.client לשמירת מצבים (למשל מזהה הרשומה והטבלה ב-D365) לשיוך.",
                  "properties": {
                    "client": {
                      "type": "object"
                    }
                  }
                },
                "prefill_data": {
                  "type": "array",
                  "x-ms-summary": "מילוי מקדים | Prefill",
                  "description": "Optional values to pre-fill into the form's fields before the recipient opens it. Each item targets a field by its technical name. Set read_only to lock the value so the recipient cannot edit it (e.g. data that came from Dynamics 365). | ערכים אופציונליים למילוי מראש בשדות הטופס לפני שהנמען פותח אותו. כל פריט מכוון לשדה לפי שמו הטכני. הגדר read_only כדי לנעול את הערך כך שהנמען לא יוכל לערוך אותו (למשל נתונים שהגיעו מ-Dynamics 365).",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שדה | Field",
                        "description": "The template field to pre-fill. The list is loaded dynamically from the selected template (shows the business header; sends the field technical name). | שדה התבנית למילוי מראש. הרשימה נטענת דינמית מהתבנית שנבחרה (מציג את הכותרת העסקית; שולח את השם הטכני).",
                        "x-ms-dynamic-values": {
                          "operationId": "GetTemplate",
                          "parameters": {
                            "templateId": {
                              "parameter": "templateId"
                            }
                          },
                          "value-collection": "data_headers",
                          "value-path": "name",
                          "value-title": "header"
                        }
                      },
                      "content_value": {
                        "type": "string",
                        "x-ms-summary": "ערך | Value",
                        "description": "The value to pre-fill into the field. For a checkbox use 'checked' or 'unchecked'. | הערך למילוי מראש בשדה. עבור תיבת סימון השתמש ב-'checked' או 'unchecked'."
                      },
                      "read_only": {
                        "type": "boolean",
                        "x-ms-summary": "נעילה | Lock",
                        "description": "True locks the field so the recipient cannot edit the pre-filled value. | True נועל את השדה כך שהנמען לא יכול לערוך את הערך שמולא מראש."
                      }
                    }
                  }
                }
              },
              "required": [
                "assignees"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/templates/{templateId}/form": {
      "post": {
        "operationId": "CreateFormFromTemplate",
        "summary": "Create draft form from template | יצירת טיוטה מתבנית",
        "description": "Create a DRAFT signature form from a template without sending it. The template's PDF and fields are applied. No email is sent (status becomes 'incomplete'). Use this for preview before sending. | יוצר טיוטת טופס חתימה מתבנית בלי לשלוח. ה-PDF והשדות מוחלים מהתבנית. לא נשלח מייל. מתאים לתצוגה מקדימה לפני שליחה.",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית | Template",
            "description": "The easydo template. Pick from the list, or supply a template id dynamically. | תבנית ה-easydo. בחר מהרשימה, או ספק מזהה תבנית דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם טופס | Form name",
                  "description": "Optional form name. Defaults to the template name. | שם הטופס (אופציונלי). ברירת המחדל היא שם התבנית."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms": {
      "get": {
        "operationId": "ListForms",
        "summary": "List forms | רשימת טפסים",
        "description": "List signature forms for the entity. Returns a DataTables envelope; read the data array. | מחזיר את רשימת טפסי החתימה. התוצאה במבנה DataTables — קרא את מערך data.",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "operationId": "CreateForm",
        "summary": "Create form (blank) | יצירת טופס (ריק)",
        "description": "Create a signature form. Set draft to true to create a draft so a preview can be produced before sending. | יוצר טופס חתימה ריק. הגדר draft=true כדי ליצור טיוטה לתצוגה לפני שליחה.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם טופס | Form name",
                  "description": "Form name. | שם הטופס."
                },
                "draft": {
                  "type": "boolean",
                  "x-ms-summary": "טיוטה | Draft",
                  "description": "Create as draft (enables preview before send). | יצירה כטיוטה (מאפשר תצוגה לפני שליחה).",
                  "default": false
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}": {
      "get": {
        "operationId": "GetFormStatus",
        "summary": "Get form status | אחזור סטטוס טופס",
        "description": "Get a form and its assignees' current status. Used by the scheduled polling flow. | מחזיר טופס ואת הסטטוס הנוכחי של הנמענים. משמש את זרימת הסנכרון המתוזמנת.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id returned when the form was created/sent. | מזהה הטופס ב-easydo שהתקבל בעת יצירת/שליחת הטופס."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "operationId": "DeleteForm",
        "summary": "Delete draft form | מחיקת טיוטת טופס",
        "description": "Delete a form. Use to remove a draft that will not be sent. | מוחק טופס. משמש להסרת טיוטה שלא תישלח.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to delete. | מזהה הטופס ב-easydo למחיקה."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/assignees": {
      "post": {
        "operationId": "SetAssignees",
        "summary": "Set form recipients | הגדרת נמענים לטופס",
        "description": "Attach the recipient(s) who must sign. Only one assignee may have recipient set to true. | מצרף את הנמענים שצריכים לחתום. רק נמען אחד יכול להיות recipient=true.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to attach recipients to. | מזהה הטופס ב-easydo לשיוך הנמענים."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "assignees": {
                  "type": "array",
                  "x-ms-summary": "נמענים | Recipients",
                  "description": "List of recipients. Only one may have recipient=true. | רשימת הנמענים. רק אחד יכול להיות recipient=true.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "profile": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "x-ms-summary": "פרופיל | Profile",
                            "description": "Existing easydo profile. Pick a recipient from the list. | פרופיל קיים ב-easydo. בחר נמען מהרשימה.",
                            "x-ms-dynamic-values": {
                              "operationId": "GetProfiles",
                              "parameters": {
                                "length": 100
                              },
                              "value-collection": "data",
                              "value-path": "id",
                              "value-title": "full_name"
                            }
                          }
                        }
                      },
                      "email": {
                        "type": "string",
                        "x-ms-summary": "דוא\"ל | Email",
                        "description": "Recipient email (for a temporary recipient). | דוא\"ל הנמען (לנמען זמני)."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם נמען | Name",
                        "description": "Recipient display name. | שם הנמען לתצוגה."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר חתימה | Order",
                        "description": "Signing order (1 = first). | סדר החתימה (1 = ראשון)."
                      },
                      "notify_platform": {
                        "type": "string",
                        "x-ms-summary": "ערוץ | Notify",
                        "description": "How to notify the recipient. Pick a channel from the list. | אופן ההתראה לנמען. בחר ערוץ מהרשימה.",
                        "default": "any",
                        "enum": [
                          "any",
                          "email",
                          "sms"
                        ],
                        "x-ms-enum-display-name": [
                          "כל הערוצים | Any",
                          "דוא\"ל | Email",
                          "SMS"
                        ]
                      },
                      "recipient": {
                        "type": "boolean",
                        "x-ms-summary": "חותם | Signer",
                        "description": "True for the main signer. Only one recipient may be true. | True עבור החותם הראשי. רק נמען אחד יכול להיות true."
                      }
                    }
                  }
                }
              },
              "required": [
                "assignees"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/upload": {
      "post": {
        "operationId": "UploadFile",
        "summary": "Upload PDF to form | העלאת PDF לטופס",
        "description": "Upload the PDF to be signed. The file content is base64-encoded. PDF only. | מעלה את קובץ ה-PDF לחתימה. תוכן הקובץ מקודד base64. PDF בלבד.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to upload the PDF to. | מזהה הטופס ב-easydo שאליו מעלים את ה-PDF."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "object",
                  "x-ms-summary": "קובץ PDF | PDF",
                  "description": "The PDF file to upload. | קובץ ה-PDF להעלאה.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "שם קובץ | File name",
                      "description": "File name including .pdf extension. | שם הקובץ כולל סיומת .pdf."
                    },
                    "data": {
                      "type": "string",
                      "x-ms-summary": "תוכן base64 | Content",
                      "description": "Base64-encoded PDF content. | תוכן ה-PDF מקודד ב-base64."
                    },
                    "mime": {
                      "type": "string",
                      "default": "application/pdf",
                      "x-ms-summary": "סוג תוכן | Type",
                      "description": "MIME type. Keep application/pdf. | סוג ה-MIME. השאר application/pdf."
                    }
                  },
                  "required": [
                    "name",
                    "data"
                  ]
                }
              },
              "required": [
                "file"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/send": {
      "put": {
        "operationId": "SendForm",
        "summary": "Send form for signature | שליחת טופס לחתימה",
        "description": "Send the form to the recipient(s) for signature (exits draft). | שולח את הטופס לנמענים לחתימה (יוצא ממצב טיוטה).",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to send. | מזהה הטופס ב-easydo לשליחה."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "settings": {
                  "type": "object",
                  "x-ms-summary": "הגדרות | Settings",
                  "description": "Optional send settings such as extra notification emails. | הגדרות שליחה אופציונליות, כגון כתובות להתראה נוספות.",
                  "properties": {
                    "notify_emails": {
                      "type": "array",
                      "x-ms-summary": "כתובות התראה | Emails",
                      "description": "Additional people to notify. | אנשים נוספים לעדכון.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "x-ms-summary": "דוא\"ל | Email",
                            "description": "Notification email address. | כתובת דוא\"ל להתראה."
                          },
                          "name": {
                            "type": "string",
                            "x-ms-summary": "שם | Name",
                            "description": "Display name. | שם לתצוגה."
                          }
                        }
                      }
                    }
                  }
                },
                "meta_data": {
                  "type": "object",
                  "x-ms-summary": "מטא-דאטה | Metadata",
                  "description": "Custom correlation data, e.g. the D365 record id and table name. | נתוני שיוך מותאמים, למשל מזהה הרשומה ושם הטבלה ב-D365.",
                  "properties": {
                    "client": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/download": {
      "get": {
        "operationId": "DownloadDocument",
        "summary": "Download document (preview / signed) | הורדת מסמך (תצוגה / חתום)",
        "description": "Download the PDF. Before completion only the draft preview is available; the complete PDF exists once the form is signed or approved. | מוריד את ה-PDF. לפני סיום זמינה רק תצוגת טיוטה; ה-PDF המלא קיים רק לאחר שהטופס נחתם או אושר.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to download. | מזהה הטופס ב-easydo להורדה."
          }
        ],
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "The PDF file content. | תוכן קובץ ה-PDF."
            }
          }
        }
      }
    },
    "/entity/me/forms/{formId}/cancel": {
      "put": {
        "operationId": "CancelForm",
        "summary": "Cancel form | ביטול טופס",
        "description": "Cancel an in-flight signature request. Only PUT is accepted. | מבטל בקשת חתימה שנמצאת בתהליך. מתקבל PUT בלבד.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to cancel. | מזהה הטופס ב-easydo לביטול."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "tags": []
}
