{
  "swagger": "2.0",
  "info": {
    "title": "easydo",
    "description": "Send documents for signature and read results via easydo.\nשליחת מסמכים לחתימה וקבלת תוצאות דרך easydo.",
    "version": "1.0.0",
    "contact": {
      "name": "D365 easydo"
    }
  },
  "host": "api.easydo.co.il",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key",
      "description": "easydo API token. Enter only the token (the connector adds the 'Bearer ' prefix automatically)."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/entity/me": {
      "get": {
        "operationId": "GetEntity",
        "summary": "Get entity (test connection) | אחזור ישות (בדיקת חיבור)",
        "description": "Returns the authenticated easydo entity. Used to validate the connection. | מחזיר את הישות (החברה) המאומתת ב-easydo. משמש לבדיקת תקינות החיבור.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/profiles": {
      "get": {
        "operationId": "GetProfiles",
        "summary": "Get profiles / contacts | אחזור פרופילים / אנשי קשר",
        "description": "List easydo profiles/contacts for the entity. Returns a DataTables envelope; read the data array. | מחזיר רשימת פרופילים / אנשי קשר ב-easydo. התוצאה במבנה DataTables — קרא את מערך data.",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/templates": {
      "get": {
        "operationId": "GetTemplates",
        "summary": "Get templates from easydo | אחזור תבניות מ-easydo",
        "description": "List signature templates. Returns a DataTables envelope; read the data array. | מחזיר את רשימת תבניות החתימה. התוצאה במבנה DataTables — קרא את מערך data.",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/templates/{templateId}": {
      "get": {
        "operationId": "GetTemplate",
        "summary": "Get template detail, fields and roles | אחזור פרטי תבנית, שדות ובעלי תפקידים",
        "description": "Get one template including its fields (data_headers) and its signer roles (payload.roles). Each field exposes a business header, technical name and type. Each role exposes its name (e.g. 'עובד', 'קצין רכב') and signing sequence, so you can map a recipient to each role by its sequence. | מחזיר תבנית אחת כולל השדות שלה (data_headers) ובעלי התפקידים שלה (payload.roles). כל שדה חושף כותרת עסקית, שם טכני וסוג. כל תפקיד חושף את שמו (למשל 'עובד', 'קצין רכב') ואת סדר החתימה, כך שתוכל למפות נמען לכל תפקיד לפי ה-sequence.",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית | Template",
            "description": "The easydo template. Pick from the list, or supply a template id dynamically. | תבנית ה-easydo. בחר מהרשימה, או ספק מזהה תבנית דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "מזהה | ID",
                  "description": "The template id. | מזהה התבנית."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם | Name",
                  "description": "The template name. | שם התבנית."
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "סטטוס | Status",
                  "description": "The template status. | סטטוס התבנית."
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "סוג | Type",
                  "description": "The template type. | סוג התבנית."
                },
                "data_headers": {
                  "type": "array",
                  "x-ms-summary": "שדות | Fields",
                  "description": "The template fields. Loop over this to read every field's business header, technical name and type. | שדות התבנית. עברו על המערך כדי לקרוא לכל שדה את הכותרת העסקית, השם הטכני והסוג.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "header": {
                        "type": "string",
                        "x-ms-summary": "כותרת | Header",
                        "description": "The business-facing field label. | הכותרת העסקית של השדה."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם טכני | Name",
                        "description": "The technical field name used when pre-filling. | השם הטכני של השדה לשימוש במילוי מקדים."
                      },
                      "type": {
                        "type": "string",
                        "x-ms-summary": "סוג | Type",
                        "description": "The field type (e.g. FreeText, input-text, input-signature, input-checkbox, input-date, input-options). | סוג השדה (למשל FreeText, input-text, input-signature, input-checkbox, input-date, input-options)."
                      },
                      "sort": {
                        "type": "integer",
                        "x-ms-summary": "סדר | Sort",
                        "description": "The field display order. | סדר הצגת השדה."
                      }
                    }
                  }
                },
                "payload": {
                  "type": "object",
                  "x-ms-summary": "מטען | Payload",
                  "description": "The template payload, including its signer roles. | מטען התבנית, כולל בעלי התפקידים.",
                  "properties": {
                    "roles": {
                      "type": "object",
                      "x-ms-summary": "בעלי תפקידים | Roles",
                      "description": "The signer roles defined on the template, keyed by signing order (1, 2, 3...). Map a recipient to each role using its sequence. | בעלי התפקידים המוגדרים בתבנית, ממופתחים לפי סדר החתימה (1, 2, 3...). מפו נמען לכל תפקיד לפי ה-sequence.",
                      "properties": {
                        "1": {
                          "type": "object",
                          "x-ms-summary": "תפקיד 1 | Role 1",
                          "description": "The first signer role. | התפקיד הראשון.",
                          "properties": {
                            "placeholder": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "שם תפקיד 1 | Role 1 name",
                                  "description": "The role display name (e.g. 'עובד'). | שם התפקיד לתצוגה (למשל 'עובד')."
                                }
                              }
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר 1 | Sequence 1",
                              "description": "The signing order of this role. | סדר החתימה של תפקיד זה."
                            },
                            "recipient": {
                              "type": "boolean",
                              "x-ms-summary": "חותם 1 | Signer 1",
                              "description": "True if this role is the main signer. | True אם זהו החותם הראשי."
                            }
                          }
                        },
                        "2": {
                          "type": "object",
                          "x-ms-summary": "תפקיד 2 | Role 2",
                          "description": "The second signer role. | התפקיד השני.",
                          "properties": {
                            "placeholder": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "שם תפקיד 2 | Role 2 name",
                                  "description": "The role display name (e.g. 'קצין רכב'). | שם התפקיד לתצוגה (למשל 'קצין רכב')."
                                }
                              }
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר 2 | Sequence 2",
                              "description": "The signing order of this role. | סדר החתימה של תפקיד זה."
                            },
                            "recipient": {
                              "type": "boolean",
                              "x-ms-summary": "חותם 2 | Signer 2",
                              "description": "True if this role is the main signer. | True אם זהו החותם הראשי."
                            }
                          }
                        },
                        "3": {
                          "type": "object",
                          "x-ms-summary": "תפקיד 3 | Role 3",
                          "description": "The third signer role. | התפקיד השלישי.",
                          "properties": {
                            "placeholder": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "שם תפקיד 3 | Role 3 name",
                                  "description": "The role display name. | שם התפקיד לתצוגה."
                                }
                              }
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר 3 | Sequence 3",
                              "description": "The signing order of this role. | סדר החתימה של תפקיד זה."
                            },
                            "recipient": {
                              "type": "boolean",
                              "x-ms-summary": "חותם 3 | Signer 3",
                              "description": "True if this role is the main signer. | True אם זהו החותם הראשי."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entity/me/templates/{templateId}/send": {
      "post": {
        "operationId": "SendTemplate",
        "summary": "Send template for signature | שליחת תבנית לחתימה",
        "description": "Create and send a signature form from an existing template. The template's PDF, fields and settings are applied automatically; only the recipients (assignees) must be supplied. The form is sent immediately (status becomes 'waiting'). Each assignee receives a fill_url in the response. | יוצר ושולח טופס חתימה מתוך תבנית קיימת. ה-PDF, השדות וההגדרות מוחלים אוטומטית מהתבנית — צריך לספק רק את הנמענים. הטופס נשלח מיד וכל נמען מקבל קישור מילוי (fill_url).",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית | Template",
            "description": "The easydo template to send. Pick from the list, or supply a template id dynamically. | תבנית ה-easydo לשליחה. בחר מהרשימה, או ספק מזהה תבנית דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם טופס | Form name",
                  "description": "Optional form name. Defaults to the template name. | שם הטופס (אופציונלי). ברירת המחדל היא שם התבנית."
                },
                "assignees": {
                  "type": "array",
                  "x-ms-summary": "נמענים | Recipients",
                  "description": "Recipients who must fill/sign. Use profile.id for an existing easydo profile, or email + name for a temporary recipient. Only one assignee may have recipient set to true. | הנמענים שצריכים למלא/לחתום. השתמש ב-profile.id לפרופיל קיים, או ב-email + name לנמען זמני. רק נמען אחד יכול להיות recipient=true.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "profile": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "x-ms-summary": "פרופיל | Profile",
                            "description": "Existing easydo profile. Pick a recipient from the list. | פרופיל קיים ב-easydo. בחר נמען מהרשימה.",
                            "x-ms-dynamic-values": {
                              "operationId": "GetProfiles",
                              "parameters": {
                                "length": 100
                              },
                              "value-collection": "data",
                              "value-path": "id",
                              "value-title": "full_name"
                            }
                          }
                        }
                      },
                      "email": {
                        "type": "string",
                        "x-ms-summary": "דוא\"ל | Email",
                        "description": "Recipient email (for a temporary recipient). | דוא\"ל הנמען (לנמען זמני)."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם נמען | Name",
                        "description": "Recipient display name. | שם הנמען לתצוגה."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר חתימה | Order",
                        "description": "Signing order (1 = first). | סדר החתימה (1 = ראשון)."
                      },
                      "notify_platform": {
                        "type": "string",
                        "x-ms-summary": "ערוץ | Notify",
                        "description": "How to notify the recipient. Pick a channel from the list. | אופן ההתראה לנמען. בחר ערוץ מהרשימה.",
                        "default": "any",
                        "enum": [
                          "any",
                          "email",
                          "sms"
                        ],
                        "x-ms-enum-display-name": [
                          "כל הערוצים | Any",
                          "דוא\"ל | Email",
                          "SMS"
                        ]
                      },
                      "recipient": {
                        "type": "boolean",
                        "x-ms-summary": "חותם | Signer",
                        "description": "True for the main signer. Only one recipient may be true. | True עבור החותם הראשי. רק נמען אחד יכול להיות true."
                      }
                    }
                  }
                },
                "meta_data": {
                  "type": "object",
                  "x-ms-summary": "מטא-דאטה | Metadata",
                  "description": "Optional metadata. Use meta_data.client to store custom key/values (e.g. the Dynamics 365 record id and table) for correlation. | מטא-דאטה אופציונלית. השתמש ב-meta_data.client לשמירת מצבים (למשל מזהה הרשומה והטבלה ב-D365) לשיוך.",
                  "properties": {
                    "client": {
                      "type": "object"
                    }
                  }
                },
                "prefill_data": {
                  "type": "array",
                  "x-ms-summary": "מילוי מקדים | Prefill",
                  "description": "Optional values to pre-fill into the form's fields before the recipient opens it. Each item targets a field by its technical name. Set read_only to lock the value so the recipient cannot edit it (e.g. data that came from Dynamics 365). | ערכים אופציונליים למילוי מראש בשדות הטופס לפני שהנמען פותח אותו. כל פריט מכוון לשדה לפי שמו הטכני. הגדר read_only כדי לנעול את הערך כך שהנמען לא יוכל לערוך אותו (למשל נתונים שהגיעו מ-Dynamics 365).",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שדה | Field",
                        "description": "The template field to pre-fill. The list is loaded dynamically from the selected template (shows the business header; sends the field technical name). | שדה התבנית למילוי מראש. הרשימה נטענת דינמית מהתבנית שנבחרה (מציג את הכותרת העסקית; שולח את השם הטכני).",
                        "x-ms-dynamic-values": {
                          "operationId": "GetTemplate",
                          "parameters": {
                            "templateId": {
                              "parameter": "templateId"
                            }
                          },
                          "value-collection": "data_headers",
                          "value-path": "name",
                          "value-title": "header"
                        }
                      },
                      "content_value": {
                        "type": "string",
                        "x-ms-summary": "ערך | Value",
                        "description": "The value to pre-fill into the field. For a checkbox use 'checked' or 'unchecked'. | הערך למילוי מראש בשדה. עבור תיבת סימון השתמש ב-'checked' או 'unchecked'."
                      },
                      "read_only": {
                        "type": "boolean",
                        "x-ms-summary": "נעילה | Lock",
                        "description": "True locks the field so the recipient cannot edit the pre-filled value. | True נועל את השדה כך שהנמען לא יכול לערוך את הערך שמולא מראש."
                      }
                    }
                  }
                },
                "pin": {
                  "type": "string",
                  "x-ms-summary": "קוד PIN | PIN",
                  "description": "Optional PIN the recipient must enter before signing. Applied per request (does not change the shared template). | קוד PIN אופציונלי שהנמען חייב להזין לפני החתימה. מוחל ברמת הבקשה (אינו משנה את התבנית המשותפת)."
                },
                "auth_method": {
                  "type": "string",
                  "x-ms-summary": "שיטת אימות | Authentication method",
                  "description": "Optional recipient authentication method before signing. 'pin' requires a PIN; 'otp' sends a one-time SMS code. | שיטת אימות הנמען לפני החתימה (אופציונלי). 'pin' דורש קוד PIN; 'otp' שולח קוד חד-פעמי ב-SMS.",
                  "enum": [
                    "pin",
                    "otp"
                  ],
                  "x-ms-enum-display-name": [
                    "PIN",
                    "OTP (SMS)"
                  ]
                }
              },
              "required": [
                "assignees"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/templates/{templateId}/form": {
      "post": {
        "operationId": "CreateFormFromTemplate",
        "summary": "Create draft form from template | יצירת טיוטה מתבנית",
        "description": "Create a DRAFT signature form from a template without sending it. The template's PDF and fields are applied. No email is sent (status becomes 'incomplete'). Use this for preview before sending. | יוצר טיוטת טופס חתימה מתבנית בלי לשלוח. ה-PDF והשדות מוחלים מהתבנית. לא נשלח מייל. מתאים לתצוגה מקדימה לפני שליחה.",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית | Template",
            "description": "The easydo template. Pick from the list, or supply a template id dynamically. | תבנית ה-easydo. בחר מהרשימה, או ספק מזהה תבנית דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם טופס | Form name",
                  "description": "Optional form name. Defaults to the template name. | שם הטופס (אופציונלי). ברירת המחדל היא שם התבנית."
                },
                "prefill_data": {
                  "type": "array",
                  "x-ms-summary": "מילוי מקדים | Prefill",
                  "description": "Optional values to pre-fill into the draft form's fields so the preview shows real data. Each item targets a field by its technical name. Set read_only to lock the value. | ערכים אופציונליים למילוי מראש בשדות טיוטת הטופס כך שהתצוגה המקדימה תציג נתונים אמיתיים. כל פריט מכוון לשדה לפי שמו הטכני. הגדר read_only כדי לנעול את הערך.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שדה | Field",
                        "description": "The template field to pre-fill (technical name). | שדה התבנית למילוי מראש (שם טכני).",
                        "x-ms-dynamic-values": {
                          "operationId": "GetTemplate",
                          "parameters": {
                            "templateId": {
                              "parameter": "templateId"
                            }
                          },
                          "value-collection": "data_headers",
                          "value-path": "name",
                          "value-title": "header"
                        }
                      },
                      "content_value": {
                        "type": "string",
                        "x-ms-summary": "ערך | Value",
                        "description": "The value to pre-fill into the field. For a checkbox use 'checked' or 'unchecked'. | הערך למילוי מראש בשדה. עבור תיבת סימון השתמש ב-'checked' או 'unchecked'."
                      },
                      "read_only": {
                        "type": "boolean",
                        "x-ms-summary": "נעילה | Lock",
                        "description": "True locks the field so the recipient cannot edit the pre-filled value. | True נועל את השדה כך שהנמען לא יכול לערוך את הערך שמולא מראש."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms": {
      "get": {
        "operationId": "ListForms",
        "summary": "List forms | רשימת טפסים",
        "description": "List signature forms for the entity. Returns a DataTables envelope; read the data array. | מחזיר את רשימת טפסי החתימה. התוצאה במבנה DataTables — קרא את מערך data.",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "operationId": "CreateForm",
        "summary": "Create form (blank) | יצירת טופס (ריק)",
        "description": "Create a signature form. Set draft to true to create a draft so a preview can be produced before sending. | יוצר טופס חתימה ריק. הגדר draft=true כדי ליצור טיוטה לתצוגה לפני שליחה.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "שם טופס | Form name",
                  "description": "Form name. | שם הטופס."
                },
                "draft": {
                  "type": "boolean",
                  "x-ms-summary": "טיוטה | Draft",
                  "description": "Create as draft (enables preview before send). | יצירה כטיוטה (מאפשר תצוגה לפני שליחה).",
                  "default": false
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}": {
      "get": {
        "operationId": "GetFormStatus",
        "summary": "Get form status | אחזור סטטוס טופס",
        "description": "Get a form and its assignees' current status. Used by the scheduled polling flow. | מחזיר טופס ואת הסטטוס הנוכחי של הנמענים. משמש את זרימת הסנכרון המתוזמנת.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id returned when the form was created/sent. | מזהה הטופס ב-easydo שהתקבל בעת יצירת/שליחת הטופס."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "מזהה טופס | Form ID",
                  "description": "easydo numeric form id. | מזהה טופס מספרי ב-easydo."
                },
                "uuid": {
                  "type": "string",
                  "x-ms-summary": "UUID",
                  "description": "Form UUID. | מזהה ייחודי של הטופס."
                },
                "template_id": {
                  "type": "integer",
                  "x-ms-summary": "מזהה תבנית | Template ID",
                  "description": "Source template id. | מזהה התבנית שממנה נוצר הטופס."
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "סטטוס טופס | Form status",
                  "description": "Overall form status. Observed values: waiting (sent, awaiting action), signed (completed), decline (recipient refused to sign), expired, canceled. | סטטוס כללי של הטופס. ערכים שנצפו: waiting (נשלח וממתין), signed (הושלם), decline (הנמען סירב לחתום), expired (פג תוקף), canceled (בוטל).",
                  "enum": [
                    "waiting",
                    "signed",
                    "decline",
                    "expired",
                    "canceled"
                  ]
                },
                "has_data": {
                  "type": "boolean",
                  "x-ms-summary": "יש נתונים | Has data",
                  "description": "True once the recipient submitted signed data. | אמת לאחר שהנמען הגיש נתונים חתומים."
                },
                "signed_date": {
                  "type": "string",
                  "x-ms-summary": "תאריך חתימה | Signed date",
                  "description": "UTC timestamp the form was signed, otherwise null. | חותמת זמן UTC של החתימה, אחרת null."
                },
                "sent_date": {
                  "type": "string",
                  "x-ms-summary": "תאריך שליחה | Sent date",
                  "description": "UTC timestamp the form was sent. | חותמת זמן UTC של השליחה."
                },
                "created_at": {
                  "type": "string",
                  "x-ms-summary": "נוצר ב | Created at",
                  "description": "UTC creation timestamp. | חותמת זמן UTC של היצירה."
                },
                "updated_at": {
                  "type": "string",
                  "x-ms-summary": "עודכן ב | Updated at",
                  "description": "UTC timestamp of the last status change (e.g. when a decline occurred). | חותמת זמן UTC של שינוי הסטטוס האחרון (למשל מועד הדחייה)."
                },
                "expires_at": {
                  "type": "string",
                  "x-ms-summary": "פג תוקף ב | Expires at",
                  "description": "UTC expiry timestamp, or null if no expiry. | חותמת זמן UTC לפקיעת תוקף, או null אם אין."
                },
                "deleted_at": {
                  "type": "string",
                  "x-ms-summary": "נמחק ב | Deleted at",
                  "description": "UTC timestamp if the form was deleted/canceled, otherwise null. | חותמת זמן UTC אם הטופס נמחק/בוטל, אחרת null."
                },
                "assignees": {
                  "type": "array",
                  "x-ms-summary": "נמענים | Assignees",
                  "description": "Signers and their per-recipient status. | רשימת החותמים והסטטוס של כל אחד.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה נמען | Assignee ID"
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם | Name"
                      },
                      "email": {
                        "type": "string",
                        "x-ms-summary": "דוא\"ל | Email"
                      },
                      "phone": {
                        "type": "string",
                        "x-ms-summary": "טלפון | Phone"
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר חתימה | Signing sequence"
                      },
                      "main": {
                        "type": "boolean",
                        "x-ms-summary": "נמען ראשי | Main recipient",
                        "description": "True for the primary recipient. | אמת עבור הנמען הראשי."
                      },
                      "status": {
                        "type": "string",
                        "x-ms-summary": "סטטוס נמען | Assignee status",
                        "description": "Per-recipient status. Observed values: waiting, signed, decline. | סטטוס הנמען. ערכים שנצפו: waiting, signed, decline.",
                        "enum": [
                          "waiting",
                          "signed",
                          "decline"
                        ]
                      },
                      "decline_reason": {
                        "type": "string",
                        "x-ms-summary": "סיבת דחייה | Decline reason",
                        "description": "Free-text reason supplied by the recipient when status is decline, otherwise null. | טקסט חופשי שהזין הנמען בעת דחייה, אחרת null."
                      },
                      "signed_date": {
                        "type": "string",
                        "x-ms-summary": "תאריך חתימה | Signed date"
                      },
                      "sent_date": {
                        "type": "string",
                        "x-ms-summary": "תאריך שליחה | Sent date"
                      },
                      "updated_at": {
                        "type": "string",
                        "x-ms-summary": "עודכן ב | Updated at"
                      },
                      "log": {
                        "type": "array",
                        "x-ms-summary": "יומן פעולות | Action log",
                        "description": "Chronological recipient actions. | פעולות הנמען לפי סדר כרונולוגי.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "action": {
                              "type": "string",
                              "x-ms-summary": "פעולה | Action",
                              "description": "Action type. Observed values: view, decline (and sign-related actions). | סוג הפעולה. ערכים שנצפו: view, decline (ופעולות הקשורות לחתימה)."
                            },
                            "ip": {
                              "type": "string",
                              "x-ms-summary": "כתובת IP | IP"
                            },
                            "device": {
                              "type": "string",
                              "x-ms-summary": "מכשיר | Device"
                            },
                            "created_at": {
                              "type": "string",
                              "x-ms-summary": "מועד הפעולה | Action time",
                              "description": "UTC timestamp of the action. | חותמת זמן UTC של הפעולה."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteForm",
        "summary": "Delete draft form | מחיקת טיוטת טופס",
        "description": "Delete a form. Use to remove a draft that will not be sent. | מוחק טופס. משמש להסרת טיוטה שלא תישלח.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to delete. | מזהה הטופס ב-easydo למחיקה."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/assignees": {
      "post": {
        "operationId": "SetAssignees",
        "summary": "Set form recipients | הגדרת נמענים לטופס",
        "description": "Attach the recipient(s) who must sign. Only one assignee may have recipient set to true. | מצרף את הנמענים שצריכים לחתום. רק נמען אחד יכול להיות recipient=true.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to attach recipients to. | מזהה הטופס ב-easydo לשיוך הנמענים."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "assignees": {
                  "type": "array",
                  "x-ms-summary": "נמענים | Recipients",
                  "description": "List of recipients. Only one may have recipient=true. | רשימת הנמענים. רק אחד יכול להיות recipient=true.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "profile": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "x-ms-summary": "פרופיל | Profile",
                            "description": "Existing easydo profile. Pick a recipient from the list. | פרופיל קיים ב-easydo. בחר נמען מהרשימה.",
                            "x-ms-dynamic-values": {
                              "operationId": "GetProfiles",
                              "parameters": {
                                "length": 100
                              },
                              "value-collection": "data",
                              "value-path": "id",
                              "value-title": "full_name"
                            }
                          }
                        }
                      },
                      "email": {
                        "type": "string",
                        "x-ms-summary": "דוא\"ל | Email",
                        "description": "Recipient email (for a temporary recipient). | דוא\"ל הנמען (לנמען זמני)."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם נמען | Name",
                        "description": "Recipient display name. | שם הנמען לתצוגה."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר חתימה | Order",
                        "description": "Signing order (1 = first). | סדר החתימה (1 = ראשון)."
                      },
                      "notify_platform": {
                        "type": "string",
                        "x-ms-summary": "ערוץ | Notify",
                        "description": "How to notify the recipient. Pick a channel from the list. | אופן ההתראה לנמען. בחר ערוץ מהרשימה.",
                        "default": "any",
                        "enum": [
                          "any",
                          "email",
                          "sms"
                        ],
                        "x-ms-enum-display-name": [
                          "כל הערוצים | Any",
                          "דוא\"ל | Email",
                          "SMS"
                        ]
                      },
                      "recipient": {
                        "type": "boolean",
                        "x-ms-summary": "חותם | Signer",
                        "description": "True for the main signer. Only one recipient may be true. | True עבור החותם הראשי. רק נמען אחד יכול להיות true."
                      }
                    }
                  }
                }
              },
              "required": [
                "assignees"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/upload": {
      "post": {
        "operationId": "UploadFile",
        "summary": "Upload PDF to form | העלאת PDF לטופס",
        "description": "Upload the PDF to be signed. The file content is base64-encoded. PDF only. | מעלה את קובץ ה-PDF לחתימה. תוכן הקובץ מקודד base64. PDF בלבד.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to upload the PDF to. | מזהה הטופס ב-easydo שאליו מעלים את ה-PDF."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "object",
                  "x-ms-summary": "קובץ PDF | PDF",
                  "description": "The PDF file to upload. | קובץ ה-PDF להעלאה.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "שם קובץ | File name",
                      "description": "File name including .pdf extension. | שם הקובץ כולל סיומת .pdf."
                    },
                    "data": {
                      "type": "string",
                      "x-ms-summary": "תוכן base64 | Content",
                      "description": "Base64-encoded PDF content. | תוכן ה-PDF מקודד ב-base64."
                    },
                    "mime": {
                      "type": "string",
                      "default": "application/pdf",
                      "x-ms-summary": "סוג תוכן | Type",
                      "description": "MIME type. Keep application/pdf. | סוג ה-MIME. השאר application/pdf."
                    }
                  },
                  "required": [
                    "name",
                    "data"
                  ]
                }
              },
              "required": [
                "file"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/send": {
      "put": {
        "operationId": "SendForm",
        "summary": "Send form for signature | שליחת טופס לחתימה",
        "description": "Send the form to the recipient(s) for signature (exits draft). | שולח את הטופס לנמענים לחתימה (יוצא ממצב טיוטה).",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to send. | מזהה הטופס ב-easydo לשליחה."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "settings": {
                  "type": "object",
                  "x-ms-summary": "הגדרות | Settings",
                  "description": "Optional send settings such as extra notification emails. | הגדרות שליחה אופציונליות, כגון כתובות להתראה נוספות.",
                  "properties": {
                    "notify_emails": {
                      "type": "array",
                      "x-ms-summary": "כתובות התראה | Emails",
                      "description": "Additional people to notify. | אנשים נוספים לעדכון.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "x-ms-summary": "דוא\"ל | Email",
                            "description": "Notification email address. | כתובת דוא\"ל להתראה."
                          },
                          "name": {
                            "type": "string",
                            "x-ms-summary": "שם | Name",
                            "description": "Display name. | שם לתצוגה."
                          }
                        }
                      }
                    }
                  }
                },
                "meta_data": {
                  "type": "object",
                  "x-ms-summary": "מטא-דאטה | Metadata",
                  "description": "Custom correlation data, e.g. the D365 record id and table name. | נתוני שיוך מותאמים, למשל מזהה הרשומה ושם הטבלה ב-D365.",
                  "properties": {
                    "client": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/forms/{formId}/download": {
      "get": {
        "operationId": "DownloadDocument",
        "summary": "Download document (preview / signed) | הורדת מסמך (תצוגה / חתום)",
        "description": "Download the PDF. Before completion only the draft preview is available; the complete PDF exists once the form is signed or approved. | מוריד את ה-PDF. לפני סיום זמינה רק תצוגת טיוטה; ה-PDF המלא קיים רק לאחר שהטופס נחתם או אושר.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to download. | מזהה הטופס ב-easydo להורדה."
          }
        ],
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "The PDF file content. | תוכן קובץ ה-PDF."
            }
          }
        }
      }
    },
    "/entity/me/forms/{formId}/cancel": {
      "put": {
        "operationId": "CancelForm",
        "summary": "Cancel form | ביטול טופס",
        "description": "Cancel an in-flight signature request. Only PUT is accepted. | מבטל בקשת חתימה שנמצאת בתהליך. מתקבל PUT בלבד.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה טופס | Form ID",
            "description": "The easydo form id to cancel. | מזהה הטופס ב-easydo לביטול."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/envelopes": {
      "get": {
        "operationId": "GetEnvelopeTemplates",
        "summary": "Get envelope templates | אחזור תבניות מעטפה",
        "description": "List envelope templates (multi-document bundles). An envelope groups several documents so one recipient signs them all with a single link and gets one combined PDF. Returns a DataTables envelope; read the data array (each item is a template with is_template=true). | מחזיר את רשימת תבניות המעטפה (חבילות מרובות-מסמכים). מעטפה מקבצת כמה מסמכים כך שנמען אחד חותם על כולם בקישור אחד ומקבל PDF מאוחד. התוצאה במבנה DataTables — קרא את מערך data (כל פריט הוא תבנית עם is_template=true).",
        "parameters": [
          {
            "name": "draw",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-summary": "מונה | Counter",
            "description": "DataTables draw counter — leave the default value. | מונה בקשה של DataTables — השאר את ברירת המחדל."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "היסט | Offset",
            "description": "Index of the first record to return (paging). | האינדקס של הרשומה הראשונה להחזרה (דפדוף)."
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "עמוד | Page",
            "description": "Number of records to return per page. | מספר הרשומות להחזרה בכל עמוד."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "operationId": "CreateEnvelope",
        "summary": "Create draft envelope | יצירת טיוטת מעטפה",
        "description": "Create a DRAFT multi-document envelope from a title and a list of member templates, without sending it. No notification is sent. Use this when you want to build the bundle and preview it before sending. Returns the new envelope instance id and its combined fill_url. To create AND send in one call, use 'Send envelope' instead. | יוצר טיוטת מעטפה מרובת-מסמכים משם ומרשימת תבניות חברות, בלי לשלוח. לא נשלחת התראה. מתאים לבניית החבילה ותצוגה מקדימה לפני שליחה. מחזיר את מזהה מופע המעטפה החדש ואת קישור המילוי המאוחד. ליצירה ושליחה בפעולה אחת, השתמש ב'שליחת מעטפה'.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "x-ms-summary": "כותרת | Title",
                  "description": "The envelope title shown to the recipient. | כותרת המעטפה המוצגת לנמען."
                },
                "templates": {
                  "type": "array",
                  "x-ms-summary": "מסמכים | Documents",
                  "description": "The member templates (documents) to include in the bundle, in signing order. | תבניות החברות (המסמכים) לכלול בחבילה, לפי סדר החתימה.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה מסמך | Document id",
                        "description": "The member template id (a document inside the bundle). | מזהה תבנית החבר (מסמך בתוך החבילה)."
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                }
              },
              "required": [
                "title"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/envelopes/{envelopeId}": {
      "get": {
        "operationId": "GetEnvelope",
        "summary": "Get envelope detail / status | אחזור פרטי / סטטוס מעטפה",
        "description": "Get one envelope by id. For an envelope TEMPLATE it returns its member templates and their signer roles. For a SENT instance it returns the combined fill_url and the forms array — one form per document with its own status and per-role assignees. Used to poll a sent envelope until every document is signed. | מחזיר מעטפה אחת לפי מזהה. עבור תבנית מעטפה מוחזרות תבניות החברות ובעלי התפקידים שלהן. עבור מופע שנשלח מוחזרים קישור המילוי המאוחד ומערך הטפסים — טופס אחד לכל מסמך עם הסטטוס שלו ועם הנמענים לפי תפקיד. משמש למעקב אחר מעטפה שנשלחה עד שכל מסמך נחתם.",
        "parameters": [
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה מעטפה | Envelope id",
            "description": "The easydo envelope id — a template id (to inspect members/roles) or a sent instance id (to poll status). | מזהה המעטפה ב-easydo — מזהה תבנית (לבדיקת חברים/תפקידים) או מזהה מופע שנשלח (למעקב סטטוס)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "מזהה | ID",
                  "description": "The envelope id (GUID). | מזהה המעטפה (GUID)."
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "כותרת | Title",
                  "description": "The envelope title. | כותרת המעטפה."
                },
                "is_template": {
                  "type": "boolean",
                  "x-ms-summary": "תבנית | Is template",
                  "description": "True for an envelope template, false for a sent instance. | אמת עבור תבנית מעטפה, שקר עבור מופע שנשלח."
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "סטטוס | Status",
                  "description": "Overall envelope status. Observed: in-progress (waiting for signatures), completed. | סטטוס כללי של המעטפה. נצפו: in-progress (ממתין לחתימות), completed (הושלם)."
                },
                "slug": {
                  "type": "string",
                  "x-ms-summary": "מזהה ייחודי | Slug",
                  "description": "The envelope slug. | מזהה ה-slug של המעטפה."
                },
                "fill_url": {
                  "type": "string",
                  "x-ms-summary": "קישור חתימה מאוחד | Combined signing link",
                  "description": "The single link that opens the whole bundle for the recipient. | הקישור היחיד הפותח את כל החבילה עבור הנמען."
                },
                "forms": {
                  "type": "array",
                  "x-ms-summary": "מסמכים | Documents",
                  "description": "One entry per document in the sent bundle. Loop over it to read each document's status and signers. | רשומה אחת לכל מסמך בחבילה שנשלחה. עברו על המערך כדי לקרוא את הסטטוס והחותמים של כל מסמך.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה טופס | Form id",
                        "description": "The easydo form id of this document. | מזהה טופס easydo של מסמך זה."
                      },
                      "template_id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה תבנית | Template id",
                        "description": "The member template id this document was produced from. | מזהה תבנית החבר שממנה נוצר המסמך."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם | Name",
                        "description": "The document name. | שם המסמך."
                      },
                      "status": {
                        "type": "string",
                        "x-ms-summary": "סטטוס מסמך | Document status",
                        "description": "Per-document status. Observed: waiting, signed, decline. | סטטוס המסמך. נצפו: waiting, signed, decline."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר | Sequence",
                        "description": "The signing order of this document in the bundle. | סדר החתימה של מסמך זה בחבילה."
                      },
                      "step_id": {
                        "type": "string",
                        "x-ms-summary": "מזהה שלב | Step id",
                        "description": "The easydo workflow step id for this document. | מזהה שלב זרימת העבודה ב-easydo עבור מסמך זה."
                      },
                      "template_slug": {
                        "type": "string",
                        "x-ms-summary": "slug תבנית | Template slug",
                        "description": "The slug of the source member template. | ה-slug של תבנית החבר המקורית."
                      },
                      "assignees": {
                        "type": "array",
                        "x-ms-summary": "חותמים | Signers",
                        "description": "The signers of this document, one per role. | החותמים על מסמך זה, אחד לכל תפקיד.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "template_role_id": {
                              "type": "integer",
                              "x-ms-summary": "מזהה תפקיד | Role id",
                              "description": "The signer role (1 = main signer). | תפקיד החותם (1 = החותם הראשי)."
                            },
                            "sequence": {
                              "type": "integer",
                              "x-ms-summary": "סדר חתימה | Signing sequence",
                              "description": "The order this role signs within the document. | הסדר שבו תפקיד זה חותם בתוך המסמך."
                            },
                            "main": {
                              "type": "boolean",
                              "x-ms-summary": "חותם ראשי | Main signer",
                              "description": "True for the primary signer of the bundle. | אמת עבור החותם הראשי של החבילה."
                            },
                            "status": {
                              "type": "string",
                              "x-ms-summary": "סטטוס חותם | Signer status",
                              "description": "Per-role status. Observed: waiting, pending (queued behind an earlier role), signed, decline. | סטטוס לפי תפקיד. נצפו: waiting, pending (ממתין בתור מאחורי תפקיד קודם), signed, decline."
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "שם | Name",
                              "description": "The signer name. | שם החותם."
                            },
                            "email": {
                              "type": "string",
                              "x-ms-summary": "דוא\"ל | Email",
                              "description": "The signer email. | דוא\"ל החותם."
                            },
                            "fill_url": {
                              "type": "string",
                              "x-ms-summary": "קישור חתימה | Signing link",
                              "description": "The per-signer link for this document. | קישור החתימה של חותם זה למסמך זה."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "templates": {
                  "type": "array",
                  "x-ms-summary": "תבניות חברות | Member templates",
                  "description": "For an envelope TEMPLATE: the member documents and their roles. Empty on a sent instance. | עבור תבנית מעטפה: מסמכי החברים והתפקידים שלהם. ריק במופע שנשלח.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה מסמך | Document id",
                        "description": "The member template id. | מזהה תבנית החבר."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "שם | Name",
                        "description": "The member document name. | שם מסמך החבר."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר | Sequence",
                        "description": "The signing order of this member (null = parallel). | סדר החתימה של חבר זה (null = במקביל)."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateEnvelope",
        "summary": "Update envelope template | עדכון תבנית מעטפה",
        "description": "Update an envelope TEMPLATE's settings and composition. Send only the keys you want to change; omitted top-level keys are preserved. Always include the full templates array (all members) so the document composition is not lost. Used by the Envelope Composition control's 'Save to easydo' button. | מעדכן את ההגדרות וההרכב של תבנית מעטפה. שלח רק את המפתחות שברצונך לשנות; מפתחות עליונים שהושמטו נשמרים. תמיד כלול את מערך ה-templates המלא (כל החברים) כדי לא לאבד את הרכב המסמכים. משמש את כפתור 'שמור ל-easydo' בפקד הרכב המעטפה.",
        "parameters": [
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה תבנית מעטפה | Envelope template id",
            "description": "The easydo envelope TEMPLATE id to update. | מזהה תבנית המעטפה ב-easydo לעדכון."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "x-ms-summary": "כותרת | Title",
                  "description": "The envelope title. | כותרת המעטפה."
                },
                "pin": {
                  "type": "string",
                  "x-ms-summary": "קוד גישה | PIN",
                  "description": "Recipient access PIN. Empty clears it. | קוד גישה לנמען. ריק מנקה אותו."
                },
                "auth_method": {
                  "type": "string",
                  "enum": [
                    "",
                    "pin",
                    "otp"
                  ],
                  "x-ms-summary": "שיטת אימות | Auth method",
                  "description": "Recipient authentication method: empty, 'pin' or 'otp'. | שיטת אימות הנמען: ריק, 'pin' או 'otp'."
                },
                "options": {
                  "type": "object",
                  "x-ms-summary": "אפשרויות | Options",
                  "description": "Envelope-level notification options object, passed whole. When sent, the WHOLE options object is replaced — include every sub-key you want to keep. Shape: { custom_message: { he, en } (or \"\" to clear), notify_recipient: 'email'|'sms'|'whatsapp'|null, default_notify_notes: string }. custom_message MUST be a { he, en } object or the empty string — a plain non-empty string is rejected. | אובייקט אפשרויות התראה ברמת המעטפה, מועבר בשלמותו. בעת שליחה כל אובייקט ה-options מוחלף — כלול כל תת-מפתח שברצונך לשמר. מבנה: { custom_message: { he, en } (או \"\" לניקוי), notify_recipient: 'email'|'sms'|'whatsapp'|null, default_notify_notes: string }."
                },
                "templates": {
                  "type": "array",
                  "x-ms-summary": "מסמכים | Documents",
                  "description": "The full member composition, in signing order. Include every member so none is dropped. | הרכב החברים המלא, לפי סדר החתימה. כלול כל חבר כדי שלא יימחק.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה מסמך | Document id",
                        "description": "The member template id. | מזהה תבנית החבר."
                      },
                      "sequence": {
                        "type": "integer",
                        "x-ms-summary": "סדר | Sequence",
                        "description": "The signing order of this member (1..N; null = parallel). | סדר החתימה של חבר זה (1..N; null = במקביל)."
                      },
                      "assignees": {
                        "type": "array",
                        "x-ms-summary": "תפקידים | Roles",
                        "description": "Extra signer roles for this member (role 2 and up). Omit for single-role members. | תפקידי חתימה נוספים לחבר זה (תפקיד 2 ומעלה). השמט עבור חברים עם תפקיד יחיד.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role_id": {
                              "type": "integer",
                              "x-ms-summary": "מזהה תפקיד | Role id",
                              "description": "The signer role id. | מזהה תפקיד החותם."
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "שם | Name",
                              "description": "Optional role display name. | שם תצוגה אופציונלי לתפקיד."
                            },
                            "email": {
                              "type": "string",
                              "x-ms-summary": "דוא\"ל | Email",
                              "description": "Optional role email. | דוא\"ל אופציונלי לתפקיד."
                            }
                          },
                          "required": [
                            "role_id"
                          ]
                        }
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "operationId": "DeleteEnvelope",
        "summary": "Delete envelope | מחיקת מעטפה",
        "description": "Delete an envelope template or a sent instance by id. Use to remove a draft or clean up a test envelope. | מוחק תבנית מעטפה או מופע שנשלח לפי מזהה. משמש להסרת טיוטה או לניקוי מעטפת בדיקה.",
        "parameters": [
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה מעטפה | Envelope id",
            "description": "The easydo envelope id to delete. | מזהה המעטפה ב-easydo למחיקה."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/entity/me/envelopes/{envelopeId}/send": {
      "post": {
        "operationId": "SendEnvelope",
        "summary": "Send envelope for signature | שליחת מעטפה לחתימה",
        "description": "Create and send a multi-document envelope from an envelope template in one call. The recipient is the main signer (role 1) and receives a single combined link for the whole bundle. Add a templates entry ONLY for member documents that have extra signer roles (role 2 and up); single-role documents inherit the main recipient automatically. Signing is sequential by role sequence. | יוצר ושולח מעטפה מרובת-מסמכים מתבנית מעטפה בפעולה אחת. הנמען הוא החותם הראשי (תפקיד 1) ומקבל קישור מאוחד יחיד לכל החבילה. הוסף רשומת templates רק עבור מסמכים שיש להם תפקידי חתימה נוספים (תפקיד 2 ומעלה); מסמכים עם תפקיד יחיד יורשים אוטומטית את הנמען הראשי. החתימה מתבצעת לפי סדר התפקידים.",
        "parameters": [
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "תבנית מעטפה | Envelope template",
            "description": "The envelope template to send. Pick from the list, or supply an envelope template id dynamically. | תבנית המעטפה לשליחה. בחר מהרשימה, או ספק מזהה תבנית מעטפה דינמית.",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvelopeTemplates",
              "parameters": {
                "length": 100
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recipient": {
                  "type": "object",
                  "x-ms-summary": "נמען ראשי | Main recipient",
                  "description": "The main signer (role 1) of the whole envelope. Required. | החותם הראשי (תפקיד 1) של כל המעטפה. חובה.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "שם | Name",
                      "description": "Recipient display name. | שם הנמען לתצוגה."
                    },
                    "email": {
                      "type": "string",
                      "x-ms-summary": "דוא\"ל | Email",
                      "description": "Recipient email address. | כתובת הדוא\"ל של הנמען."
                    },
                    "phone": {
                      "type": "string",
                      "x-ms-summary": "טלפון | Phone",
                      "description": "Recipient phone (optional, for SMS notification). | טלפון הנמען (אופציונלי, להתראת SMS)."
                    }
                  },
                  "required": [
                    "name",
                    "email"
                  ]
                },
                "templates": {
                  "type": "array",
                  "x-ms-summary": "תפקידים נוספים | Extra roles",
                  "description": "Only for member documents that have extra signer roles (role 2 and up). Each entry names the member document and the people who fill its additional roles. Documents with a single role need NO entry here. | רק עבור מסמכים שיש להם תפקידי חתימה נוספים (תפקיד 2 ומעלה). כל רשומה מציינת את מסמך החבר ואת האנשים הממלאים את תפקידיו הנוספים. מסמכים עם תפקיד יחיד אינם זקוקים לרשומה כאן.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "מזהה מסמך | Document id",
                        "description": "The member template id (the document that has the extra role). | מזהה תבנית החבר (המסמך בעל התפקיד הנוסף)."
                      },
                      "assignees": {
                        "type": "array",
                        "x-ms-summary": "חותמים נוספים | Extra signers",
                        "description": "The people filling the additional roles (role_id 2 and up) on this document. | האנשים הממלאים את התפקידים הנוספים (role_id 2 ומעלה) במסמך זה.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role_id": {
                              "type": "integer",
                              "x-ms-summary": "מזהה תפקיד | Role id",
                              "description": "The signer role number (2 = second role, 3 = third, ...). | מספר תפקיד החותם (2 = תפקיד שני, 3 = שלישי, ...)."
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "שם | Name",
                              "description": "The signer name for this role. | שם החותם עבור תפקיד זה."
                            },
                            "email": {
                              "type": "string",
                              "x-ms-summary": "דוא\"ל | Email",
                              "description": "The signer email for this role. | דוא\"ל החותם עבור תפקיד זה."
                            },
                            "phone": {
                              "type": "string",
                              "x-ms-summary": "טלפון | Phone",
                              "description": "The signer phone for this role (optional). | טלפון החותם עבור תפקיד זה (אופציונלי)."
                            }
                          },
                          "required": [
                            "role_id"
                          ]
                        }
                      },
                      "prefill_data": {
                        "type": "array",
                        "x-ms-summary": "מילוי מקדים | Prefill",
                        "description": "Optional values to pre-fill into THIS document's fields before the recipient opens the bundle. Each item targets a field by its technical name. Set read_only to lock a value that came from Dynamics 365. | ערכים אופציונליים למילוי מראש בשדות של מסמך זה לפני שהנמען פותח את החבילה. כל פריט מכוון לשדה לפי שמו הטכני. הגדר read_only כדי לנעול ערך שהגיע מ-Dynamics 365.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "x-ms-summary": "שדה | Field",
                              "description": "The field technical name to pre-fill. | השם הטכני של השדה למילוי מראש."
                            },
                            "content_value": {
                              "type": "string",
                              "x-ms-summary": "ערך | Value",
                              "description": "The value to pre-fill. For a checkbox use 'checked' or 'unchecked'. | הערך למילוי מראש. עבור תיבת סימון השתמש ב-'checked' או 'unchecked'."
                            },
                            "read_only": {
                              "type": "boolean",
                              "x-ms-summary": "נעילה | Lock",
                              "description": "True locks the field so the recipient cannot edit the pre-filled value. | True נועל את השדה כך שהנמען לא יכול לערוך את הערך שמולא מראש."
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                },
                "meta_data": {
                  "type": "object",
                  "x-ms-summary": "מטא-דאטה | Metadata",
                  "description": "Optional metadata. Use meta_data.client to store correlation values (e.g. the Dynamics 365 record id and table). | מטא-דאטה אופציונלית. השתמש ב-meta_data.client לשמירת ערכי שיוך (למשל מזהה הרשומה והטבלה ב-D365).",
                  "properties": {
                    "client": {
                      "type": "object"
                    }
                  }
                },
                "pin": {
                  "type": "string",
                  "x-ms-summary": "קוד PIN | PIN",
                  "description": "Optional PIN the recipient must enter before signing the envelope. Applied per request (does not change the shared envelope template). | קוד PIN אופציונלי שהנמען חייב להזין לפני חתימת המעטפה. מוחל ברמת הבקשה (אינו משנה את תבנית המעטפה המשותפת)."
                },
                "auth_method": {
                  "type": "string",
                  "x-ms-summary": "שיטת אימות | Authentication method",
                  "description": "Optional recipient authentication method before signing the envelope. 'pin' requires a PIN; 'otp' sends a one-time SMS code. | שיטת אימות הנמען לפני חתימת המעטפה (אופציונלי). 'pin' דורש קוד PIN; 'otp' שולח קוד חד-פעמי ב-SMS.",
                  "enum": [
                    "pin",
                    "otp"
                  ],
                  "x-ms-enum-display-name": [
                    "PIN",
                    "OTP (SMS)"
                  ]
                }
              },
              "required": [
                "recipient"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "מזהה מעטפה | Envelope id",
                  "description": "The new sent envelope instance id (GUID). Store it to poll status and download the combined PDF. | מזהה מופע המעטפה שנשלחה (GUID). שמור אותו למעקב סטטוס והורדת ה-PDF המאוחד."
                },
                "is_template": {
                  "type": "boolean",
                  "x-ms-summary": "תבנית | Is template",
                  "description": "False for the sent instance. | שקר עבור המופע שנשלח."
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "סטטוס | Status",
                  "description": "The new instance status (in-progress right after sending). | סטטוס המופע החדש (in-progress מיד לאחר השליחה)."
                },
                "fill_url": {
                  "type": "string",
                  "x-ms-summary": "קישור חתימה מאוחד | Combined signing link",
                  "description": "The single link that opens the whole bundle for the recipient. | הקישור היחיד הפותח את כל החבילה עבור הנמען."
                }
              }
            }
          }
        }
      }
    },
    "/entity/me/envelopes/{envelopeId}/download": {
      "get": {
        "operationId": "DownloadEnvelope",
        "summary": "Download combined envelope PDF | הורדת PDF מאוחד של המעטפה",
        "description": "Download the single combined PDF of all documents in the envelope. The complete PDF exists once every document in the bundle is signed. | מוריד את קובץ ה-PDF המאוחד היחיד של כל המסמכים במעטפה. הקובץ המלא קיים לאחר שכל מסמך בחבילה נחתם.",
        "parameters": [
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "מזהה מעטפה | Envelope id",
            "description": "The sent easydo envelope instance id to download. | מזהה מופע המעטפה שנשלחה ב-easydo להורדה."
          }
        ],
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "The combined PDF file content. | תוכן קובץ ה-PDF המאוחד."
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "tags": []
}
